In [ ]:
import pandas as pd
import numpy as np
import openpyxl
import sqlizer
import sqlite3
import mysql.connector
import sqlalchemy
import pymysql
import os
import datetime
import re

In [ ]:
conn=mysql.connector.connect(
    host='car-campaign-data.mysql.database.azure.com',
    user='harsh_shah',
    password='vInwun-ruqvux-0xuvty',
    database='campaign-data',
    port=3306,
    client_flags=[mysql.connector.ClientFlag.SSL],
    ssl_ca="/Users/nilaygaitonde/Documents/E-RevBay/SQLwork/DigiCertGlobalRootG2.crt.pem"
)
mycursor=conn.cursor()

In [ ]:
wb = openpyxl.load_workbook('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx')

In [ ]:
wb.sheetnames

In [ ]:
table = """CREATE TABLE IF NOT EXISTS Customer (
    primary_number VARCHAR(255),
    secondary_number VARCHAR(255),
    email VARCHAR(255),
    name VARCHAR(255),
    organization VARCHAR(255),
    city VARCHAR(255),
    pin_code VARCHAR(255),
    designation VARCHAR(255)
);
"""
mycursor.execute(table)

In [ ]:
mycursor.execute("CREATE TABLE testing (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
sql = "INSERT INTO testing (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

conn.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
engine = sqlalchemy.create_engine("mysql+pymysql://" + 'harsh_shah' + ":" + 'vInwun-ruqvux-0xuvty' + "@" + 'car-campaign-data.mysql.database.azure.com' + "/" + 'campaign-data')

In [ ]:
# ADD ROW TO TABLE
# sql = 
# val = 
mycursor.execute("INSERT INTO Customer (primary_number, secondary_number, email, name, organization, city, pin_code, designation) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)", ("1234567890", "1234567890", "nilay0160@gmail.com","Nilay Gaitonde",'NMIMS','Mumbai','400058','Intern'))
conn.commit()

In [ ]:
# regex to convert 'Rs. 7.5 lacs annually' to numeric value'
def convert_to_number(text):
    result = re.search(r'Rs\.\s([\d.]+)\s(lacs|crores)\sannually', text)
    if result:
        value = float(result.group(1))
        if result.group(2) == 'crores':
            value *= 10000000
        elif result.group(2) == 'lacs':
            value *= 100000
        return (value)

In [ ]:
sheetnames = ['Propogate_Data',
 ' Pan India Naptools',
 'Online Soppers part3',
 'Online Sellers OLX',
 'Naptol Mumbai 1',
 'Naptol Mumbai 2',
 'Mahrashtra 5-4 lakh list',
 'F-Male Online',
 'Flipkart Sellers Data',
 '6-8 Lakh Online Shoppers',
 'Sheet1']
for sheet in sheetnames:
    print(sheet)
    if(sheet in ['Propogate_Data',
 ' Pan India Naptools',
 'Online Soppers part3']):
        pass
    else:
        df = pd.read_excel('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx', sheet_name=sheet)
        df.columns = df.columns.str.strip()
        df['Source'] = sheet
        try:
            df['Annual Income'] = df['Annual Income'].apply(convert_to_number)
        except TypeError:
            pass
        print("To SQL")
        df.to_sql('Customers',engine,if_exists='append',index=False)

In [ ]:
# df.loc[~df['Annual Income'].isna()]
df['Annual Income'] = df['Annual Income'].apply(lambda x: x.strip() if type(x) == str else x)
df['Annual Income'] = df['Annual Income'].apply(lambda x: float(x) if type(x) == str else x)

In [ ]:
df.shape

In [2]:
df = pd.read_excel('/Users/nilaygaitonde/Downloads/Data ERB 3.xlsx', sheet_name='PAN India Paytm Users')

In [13]:
new_df = df.copy()

In [14]:
def is_phone_number(val):
    return type(val) == datetime.datetime or type(val) == float

In [5]:
new_df.shape

(50880, 18)

In [6]:
new_df[new_df['DOB'].apply(lambda x: not is_phone_number(x))].index

Int64Index([ 5760,  5761,  5762,  5763,  5764,  5765,  5766,  5767,  5768,
             5769,
            ...
            30162, 30164, 30167, 30170, 30171, 30199, 30202, 30210, 30218,
            30232],
           dtype='int64', length=559)

In [20]:
test_df = new_df.loc[new_df['DOB'].apply(lambda x: not is_phone_number(x))]

In [22]:
test_df['Mobile'] = pd.to_numeric(test_df['Mobile'],errors='coerce')

/var/folders/b4/9cg_tkrn3256x3hcybpxqnpw0000gn/T/ipykernel_164/3498593898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['DOB'] = pd.to_datetime(test_df['DOB'],errors='coerce')

In [9]:
new_df.drop(new_df[new_df['DOB'].apply(lambda x: not is_phone_number(x))].index,inplace=True)

In [25]:
test_df['Mobile'].apply(lambda x : type(x)).value_counts()

<class 'int'>    434
<class 'str'>    125
Name: Mobile, dtype: int64

In [23]:
test_df.head()

,Name,Mobile,Email Id,City,Adress,State,Pincode,DOB,Pan Id,Annual Income,Payment Bank,Payment Mode,Type of Acc,District,Locality,Sum Insured,Plan Type,Proof Id
5760,VILAS RAMANI,Factory Head,vyramani@yahoo.com,Mumbai,"FLAT G10, SUMAN IV, SUMAN COMPLEX, AGASHI ROAD...",NaN,NaN,1970-01-01 00:00:09.322797251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5761,AMITDESAI,"Direct marketing, Events & conferences, Market...",amitjdesai18@yahoo.co.in,Mumbai,"VASTU SHUBH, B-WING, 3RD FLOOR, FLAT NO. 307, ...",NaN,NaN,1970-01-01 00:00:09.867284619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5762,ABHAYMANUDHANE,"Finance, Marketing/Brand/Product, Production",anmanudhane@rediffmail.com,Mumbai,"201,SHUBH ASHISH,129,MODEL TOWN 4 BUNGALOWS AN...",NaN,NaN,1970-01-01 00:00:09.820017910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5763,gopal tapare,"Engineering, Environment, Environmental Scienc...",gopalsteam@yahoo.com,Mumbai,"19, saptashrungi niwas,near golden park,beturp...",NaN,NaN,1970-01-01 00:00:09.969376119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5764,Aji Joseph,"Advertising/Media/Arts, Corporate Sales, IT/Te...",aji2410@rediffmail.com,Mumbai,"1103, Suparshav Appartments, Opp.Jain Temple, ...",NaN,NaN,1970-01-01 00:00:09.920371336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_df.columns = test_df.columns.str.strip()
test_df.to_sql('Customers',engine,if_exists='append',index=False)