In [12]:
import pandas as pd
import numpy as np
import openpyxl
import sqlizer
import sqlite3
import mysql.connector
import sqlalchemy
import pymysql
import os

In [23]:
conn=mysql.connector.connect(
    host='localhost',
    user='nilaygaitonde',
    password='Nilay0309',
    database='Customer',
)
mycursor=conn.cursor()

In [5]:
wb = openpyxl.load_workbook('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx')
print(wb.sheetnames)

['Propogate_Data', ' Pan India Naptools', 'Online Soppers part3', 'Online Sellers OLX', 'Naptol Mumbai 1', 'Naptol Mumbai 2', 'Mahrashtra 5-4 lakh list', 'F-Male Online', 'Flipkart Sellers Data', '6-8 Lakh Online Shoppers', 'Sheet1']

In [8]:
df = pd.read_excel('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx', sheet_name='Propogate_Data')

In [15]:
df_1 = pd.read_excel('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx', sheet_name=' Pan India Naptools')

In [45]:
# apply strip to each colums
df.columns = df.columns.str.strip()
df.columns

Index(['Name', 'Mobile', 'Email Id', 'City', 'Adress', 'State', 'Pincode',
       'DOB', 'Pan Id', 'Annual Income', 'Payment Bank', 'Payment Mode',
       'Type of Acc', 'District', 'Locality', 'Sum Insured', 'Plan Type',
       'Proof Id'],
      dtype='object')

In [17]:
df_1.columns

Index(['Name', 'Mobile', 'Email Id', 'City', 'Adress', 'State', 'Pincode',
       'DOB', 'Pan Id', 'Annual Income', 'Payment Bank', 'Payment Mode',
       'Type of Acc', 'District', 'Locality', 'Sum Insured ', 'Plan Type',
       'Proof Id'],
      dtype='object')

In [22]:
df.head()

,Name,Mobile,Email Id,City,Adress,State,Pincode,DOB,Pan Id,Annual Income,Payment Bank,Payment Mode,Type of Acc,District,Locality,Sum Insured,Plan Type,Proof Id
0,SurendarBangaru,9769701212,surendar.bangaru@gmail.com,Mumbai,NaN,Maharashtra,NaN,NaN,NaN,NaN,NaN,HDFC Net Banking,NaN,NaN,NaN,NaN,NaN,NaN
1,Vani M,9867967566,sinchana.vani@gmail.com,Mumbai,NaN,Maharashtra,NaN,NaN,NaN,NaN,NaN,Cash on Delivery,NaN,NaN,NaN,NaN,NaN,NaN
2,rubeenap,9881008478,rubeena.peerzade@gmail.com,Pune,NaN,Maharashtra,NaN,NaN,NaN,NaN,NaN,Cash on Delivery,NaN,NaN,NaN,NaN,NaN,NaN
3,Vathsala JPrakash,9820333143,vatjp@yahoo.co.in,Mumbai,NaN,Maharashtra,NaN,NaN,NaN,NaN,NaN,Cash on Delivery,NaN,NaN,NaN,NaN,NaN,NaN
4,VISHNU V,9890907710,vvishnu687p@gmail.com,Pune,NaN,Maharashtra,NaN,NaN,NaN,NaN,NaN,Dollar Dream Points,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df['City'].unique()

(143330, 18)

In [42]:
df.isnull().sum()

Name                487
Mobile                1
Email Id              7
City                  0
Adress           143330
State                 0
Pincode          143330
DOB              143330
Pan Id           143330
Annual Income    143330
Payment Bank     143330
Payment Mode          0
Type of Acc      143330
District         143330
Locality         143330
Sum Insured      143330
Plan Type        143330
Proof Id         143330
dtype: int64

In [24]:
table = """CREATE TABLE IF NOT EXISTS Customer (
    primary_number VARCHAR(255),
    secondary_number VARCHAR(255),
    email VARCHAR(255),
    name VARCHAR(255),
    organization VARCHAR(255),
    city VARCHAR(255),
    pin_code VARCHAR(255),
    designation VARCHAR(255)
);
"""
mycursor.execute(table)

In [25]:
engine = sqlalchemy.create_engine("mysql+pymysql://" + 'nilaygaitonde' + ":" + 'Nilay0309' + "@" + 'localhost' + "/" + 'Customer')

In [46]:
df.to_sql('Customers',engine,if_exists='replace',index=False)

143330

In [ ]:
# df_3 = pd.read_excel('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx', sheet_name='Online Soppers part4')

In [ ]:
# df_4 = pd.read_excel('/Users/nilaygaitonde/Downloads/Data ERB 1.xlsx', sheet_name='Online Soppers part5')