In [36]:
import pandas as pd
import numpy as np
import sqlizer
import sqlite3
import mysql.connector
import sqlalchemy
import pymysql
import os

In [37]:
conn=mysql.connector.connect(
    host='localhost',
    user='nilaygaitonde',
    password='Nilay0309',
    database='Customer',
)
mycursor=conn.cursor()

In [38]:
filePath = '/Users/nilaygaitonde/Downloads/Hello/'
files = os.listdir(filePath)
pdf_files = [f for f in files if f.endswith('.xlsx')]
for file in pdf_files:
    # print(file)
    df_dict = pd.read_excel(f'{filePath}{file}', sheet_name=None)
    df_all = pd.concat(df_dict.values(), ignore_index=True)

In [39]:
df_all.shape

(12584, 8)

In [40]:
df_all.to_excel('Book9.xlsx', index=False)

In [41]:
df_all.head()
df_all = df_all.rename(columns={'Mobile 1':'primary_number','Mobile 2':'secondary_number','Email':'email','Name':'name','City':'city','Pin Code':'pin_code','Designation':'designation','Org':'organization'})
df_all.head()

,primary_number,secondary_number,email,name,organization,city,pin_code,designation
0,9935440462,NaN,NaN,F. Amrit,Param Jyoti Saree Center,Barabanki,110006.0,NaN
1,9415048902,9811512999.0,ranisatirice@gmail.com,Akash Bhatt,Shree Rani Sati Overseas Private Limited,Barabanki,110007.0,Manager
2,8234156789,NaN,jwrtfygjhmg@mail.ru,Vishwakarma,Vishwakarma Electrical Plaza,Barabanki,110029.0,NaN
3,8078562314,NaN,gbcvnbxchn@mail.ru,Adithya,Adithya Electrical Plaza,Barabanki,110029.0,NaN
4,9670060679,9650035908.0,ramesh.jangid@sharpglobal.in,Ramesh Jangid,Sharp Global Limited,Barabanki,110033.0,NaN

In [42]:
table = """CREATE TABLE IF NOT EXISTS Customer (
    primary_number VARCHAR(255),
    secondary_number VARCHAR(255),
    email VARCHAR(255),
    name VARCHAR(255),
    organization VARCHAR(255),
    city VARCHAR(255),
    pin_code VARCHAR(255),
    designation VARCHAR(255)
);
"""
mycursor.execute(table)

In [43]:
engine = sqlalchemy.create_engine("mysql+pymysql://" + 'nilaygaitonde' + ":" + 'Nilay0309' + "@" + 'localhost' + "/" + 'Customer')

In [44]:
# df_all.to_sql('Customers',engine,if_exists='append',index=False,schema='Customer')
df_all.to_sql('Customers',engine,if_exists='replace',index=False,schema='Customer')

12584

In [45]:
mycursor.execute("SELECT * FROM Customers")
print(mycursor.rowcount)

-1